.search-container{
  position: relative;
}
.search-input{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  padding: 14px;
  border-radius: 40px;
  align-items: center;
}
.input{
  border: none;
  outline: none;
}
.suggestions{
  position: absolute;
  top: 50px;
  background-color: azure;
  width: 50vw;
  max-height: 30vw;
  overflow-y: scroll;
}
.pill{
  color: white;
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.pill>img{
  height: 20px;
}
.suggestions>ul>li>img{
  height: 20px;
}
.suggestions>ul>li{
  display: flex;
  align-items: center;
  padding: 10px;
}

.suggestions>ul>li:hover{
  background-color: rgb(196, 196, 196);
}